* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    width: 100%;
    background-color: #dddddd;
}

header {
    height: 50px;
    width: 100%;
    background-color: rgb(59, 59, 59);
}

@media only screen and (max-width: 1594px) {
    .network-title h1 {
        visibility: hidden !important;
    }

    .main-nav {
        left: 0% !important;
        margin-top: 0px !important;
    }

    .main-nav-expanden {
        left: 0% !important;
    }
}

@media only screen and (max-width: 1163px) {
    header {
        height: 105px !important;
    }

    .main-nav li:nth-child(5) {
        margin-top: 5px;
    }
}

@media only screen and (max-width: 957px) {
    header nav li {
        width: 300px !important;
    }
}

@media only screen and (max-width: 849px) {
    header {
        height: 50px !important;
    }

    .network-title h1 {
        visibility: visible !important;
    }

    .expand-nav-btn {
        visibility: visible !important;
    }

    .main-nav {
        visibility: hidden !important;
    }
}

@keyframes hover_effect {
    0% {
        margin-left: 0px;
        margin-right: -3%;
    }

    100% {
        margin-left: -2%;
        margin-right: -5%;
    }
}

.expand-nav-btn {
    position: absolute;
    font-size: xx-large;
    height: 50px;
    width: 50px;
    right: 0;
    visibility: hidden;
}

.expand-nav-btn i {
    padding: 9px;
    color: #dddddd;
}

header nav {
    height: 50px;
    top: 0;
}

.network-title {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: large;
    text-transform: uppercase;
    line-height: 50px;
    margin: 0 20px 0 60px;
    color: #dddddd;
    height: 50px;
    width: 150px;
    visibility: visible;
}

.network-title img {
    position: absolute;
    top: 2.5px;
    left: -55px;
    height: 42px;
    width: 42px;
}

.network-title a {
    text-decoration: none;
    color: #dddddd;
}

header nav {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

header nav li {
    display: inline-block;
    list-style: none;
    line-height: 50px;
    height: 50px;
    width: 260px;
    margin-right: -3%;

    background: linear-gradient(
        135deg,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0) 25%,
        rgba(150, 57, 57, 0.6) 25%,
        rgba(150, 57, 57, 0.6) 50%,
        rgba(150, 57, 57, 0.6) 75%,
        rgba(0, 0, 0, 0) 75%);
}

.main-nav {
    text-align: center;
    position: absolute;
    left: 15%;
}

.main-nav li a {
    display: block;
    height: 50px;
    width: 100%;
    text-decoration: none;
    color: #dddddd;
}

.main-nav li:hover {
    opacity: 0.8;
    animation: hover_effect 300ms forwards;
    -webkit-animation: hover_effect 300ms forwards;
    -moz-animation: hover_effect 300ms forwards;
    
    background: linear-gradient(
        135deg,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0) 25%,
        rgba(150, 57, 57, 0.5) 25%,
        rgba(150, 57, 57, 0.5) 50%,
        rgba(150, 57, 57, 0.5) 75%,
        rgba(0, 0, 0, 0) 75%);
}

.main-nav-expanded {
    text-align: center;
    position: absolute;
    left: 0%;
    width: 100%;
}

.main-nav-expanded li {
    margin-top: 5px;
    width: 100% !important;
}

.main-nav-expanded li:nth-child(1) {
    margin-top: 70px;
}

.main-nav-expanded li a {
    display: block;
    height: 50px;
    width: 62%;
    margin-left: 20%;
    text-decoration: none;
    color: #dddddd;
}

.placeholder-line-up {
    height: 10px;
    width: 100%;

    background: 
        linear-gradient(
            45deg,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0) 25%,
            rgba(0, 0, 0, 0) 25%,
            rgba(150, 57, 57, 0.5) 50%,
            rgba(150, 57, 57, 0.5) 75%,
            rgba(0, 0, 0, 0) 75%),
        
        linear-gradient(
            -45deg, 
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0) 25%,
            rgba(0, 0, 0, 0) 25%,
            rgba(150, 57, 57, 0.5) 50%,
            rgba(150, 57, 57, 0.5) 75%,
            rgba(0, 0, 0, 0) 75%);
}

.placeholder-line-down {
    height: 10px;
    width: 100%;

    background: 
        linear-gradient(
            45deg,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0) 25%,
            rgba(150, 57, 57, 0.5) 25%,
            rgba(150, 57, 57, 0.5) 50%,
            rgba(0, 0, 0, 0) 75%,
            rgba(0, 0, 0, 0) 75%),
        
        linear-gradient(
            -45deg, 
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0) 25%,
            rgba(150, 57, 57, 0.5) 25%,
            rgba(150, 57, 57, 0.5) 50%,
            rgba(0, 0, 0, 0) 75%,
            rgba(0, 0, 0, 0) 75%);
}

.container {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#welcome-content {
    height: 600px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: x-large;
    width: 100%;
    color: #dddddd;
}

#welcome-content h1:nth-child(1) {
    padding-top: 470px;
}

#welcome-content h1 {
    text-shadow:  1px  1px 1px black,
                  1px -1px 1px black,
                 -1px  1px 1px black,
                 -1px -1px 1px black;
}

@media only screen and (max-width: 444px) {
    #welcome-content {
        font-size: large;
    }
}

#short-info-content {
    height: 250px;
}

#short-info-content div {
    position: absolute;
    right: 0;
    margin-top: 70px;
    margin-right: 340px;
}

#short-info-content div img {
    position: absolute;
    margin-top: -50px;
    left: -23%;
    height: 212px;
    width: 212px;
    z-index: -1;
}

@media only screen and (max-width: 1500px) {
    #short-info-content div img {
        left: 100%;
    }
}

@media only screen and (max-width: 970px) {
    #short-info-content div img {
        visibility: hidden;
    }

    #short-info-content div {
        text-align: center;
        margin-top: 60px;
        margin-right: 0;
    }
}

@media only screen and (max-width: 498px) {
    #short-info-content div {
        margin-top: 30px;
        height: 270px;
    }
}

#short-info-content h1 {
    padding-left: 30px;
    padding-right: 30px;
}

#short-info-content p {
    font-size: 13pt;
    padding-left: 30px;
    padding-right: 30px;
}

#info-content {
    height: calc(488px - 10vmax);
    width: 100%;
    color: #dddddd;
}

#info-content div {
    padding-top: 95px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

#info-content p {
    margin-top: 10px;
    font-size: 13pt;
}

.parallax {
	background-position: bottom center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-attachment: fixed !important;
    -webkit-background-position: bottom center !important;
	-webkit-background-repeat: no-repeat !important;
	-webkit-background-size: cover !important;
	-webkit-background-attachment: fixed !important;
    -moz-background-position: bottom center !important;
	-moz-background-repeat: no-repeat !important;
	-moz-background-size: cover !important;
	-moz-background-attachment: fixed !important;
}

.bg-1 {
    background: url("https://i.imgur.com/9GkIEjN.png");
}

.bg-2 {
    background: url("https://i.imgur.com/XL2PAd3.png");
}

#news-content {
    height: 740px;
}

#news-content h1 {
    text-align: center;
    margin-top: 20px;
    font-size: xx-large;
    font-weight: bold;
}

#news-content div {
    float: right;
    margin-top: 140px;
    margin-right: 240px;
}

#news-content img {
    position: absolute;
    margin-top: 60px;
    left: 25%;
    z-index: -1;
    height: 660px;
    width: 816px;
}

@media only screen and (max-width: 1550px) {
    #news-content div {
        float: left;
        margin-top: 100px;
        margin-left: 240px;
    }
}

@media only screen and (max-width: 1120px) {
    #news-content img {
        margin-left: -100px;
    }
}

@media only screen and (max-width: 1100px) {
    #news-content div {
        float: left;
        margin-top: 100px;
        margin-left: 200px;
    }
}

@media only screen and (max-width: 990px) {
    #news-content img {
        margin-left: -150px;
    }

    #news-content div {
        float: left;
        margin-top: 100px;
        margin-left: 150px;
    }
}

@media only screen and (max-width: 920px) {
    #news-content img {
        margin-left: -200px;
    }

    #news-content div {
        float: left;
        margin-top: 100px;
        margin-left: 100px;
    }
}

@media only screen and (max-width: 850px) {
    #news-content img {
        visibility: hidden;
    }

    #news-content div {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        text-align: center;
        margin: 50px 0 0 0;
    }

    #news-content {
        height: 300px;
    }

    #news-content h2 {
        margin-top: -20px;
    }
}

@media only screen and (max-width: 471px) {
    #news-content {
        height: 330px;
    }
}

@media only screen and (max-width: 450px) {
    #news-content {
        height: 350px;
    }
}


#features-content {
    text-align: center;
    height: 330px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);

    background: 
        linear-gradient(
            90deg,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0) 15%,
            rgb(190, 190, 190) 25%,
            rgb(190, 190, 190) 50%,
            rgb(190, 190, 190) 50%,
            rgba(0, 0, 0, 0) 25%),
        
        linear-gradient(
            -90deg,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0) 15%,
            rgb(190, 190, 190) 25%,
            rgb(190, 190, 190) 50%,
            rgb(190, 190, 190) 50%,
            rgba(0, 0, 0, 0) 25%);
}

#features-content h1 {
    padding-top: 20px;
    font-size: xx-large;
    font-weight: bold;
    position: relative;
    top: 0%;
}

.icon-list > div {
    display: inline-block;
    height: 120px;
    width: 300px;
}

@media only screen and (max-width: 924px) {
    #features-content {
        height: 450px;
    }

    .icon-list-1 > div {
        width: 200px;
        margin-left: 0px;
    }

    .icon-list-1 {
        height: 160px;
    }
}

@media only screen and (max-width: 619px) {
    #features-content {
        height: 560px;
    }

    .icon-list-1 > div {
        width: 200px;
        margin-left: 0px;
    }

    .icon-list-1 {
        margin-top: 30px;
        height: 120px;
    }

    .icon-list-1 div:nth-child(1) {
        display: none;
    }

    .icon-list-1 div:nth-child(3) {
        display: none;
    }
}

.icon-block i {
    font-size: 36pt;
}

.icon-block h3 {
    padding-top: 20px;
    text-align: center;
    font-size: 14pt;
}

#support-content {
    height: 320px;
    text-align: center;
}

@media only screen and (max-width: 552px) {
    #support-content {
        height: 340px;
    }
}

@media only screen and (max-width: 352px) {
    #support-content {
        height: 350px;
    }
}

@media only screen and (max-width: 346px) {
    #support-content {
        height: 370px;
    }
}

@media only screen and (max-width: 287px) {
    #support-content {
        height: 390px;
    }
}

@media only screen and (max-width: 221px) {
    #support-content {
        height: 410px;
    }
}

#support-content h1 {
    margin-top: 20px;
    font-size: xx-large;
    font-weight: bold;
}

#support-content div {
    font-size: 12pt;
}

#support-content i {
    margin-top: 50px;
    font-size: 48pt;
}

#support-content p {
    margin-top: 20px;
}

.connect-btn a {
	background: rgb(150, 192, 0);
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	display: inline-block;
	color: #dddddd;
	padding: 9px 23px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #263666;
}

.connect-btn a:hover {
    opacity: 0.8;
}

.connect-btn a:active {
	position:relative;
	top:1px;
}

.to-top {
    position: absolute;
    right: 30px;
    bottom: 60px;
    height: 50px;
    width: 50px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    background-color: rgb(37, 41, 46);
}

.to-top a {
    font-size: 28pt;
    color: #687077;
}

.to-top span {
    padding: 8px 8px 8px 9px;
}

footer {
    height: 200px;
    width: 100%;
    position: relative;
    background-color: #343a40;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: 300;
    line-height: 1.2;
    color: #dddddd;
}

.sub-footer {
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-top: 7px;
    text-align: center;
    color: #dddddd;
    background-color: rgb(37, 41, 46);
}

.sub-footer a {
    color: rgb(0, 123, 255);
    text-decoration: none;
}

.sub-footer a:hover {
    text-decoration: underline;
    color: rgba(0, 123, 255, 0.8);
}

.icon {
    font-size: 32px;
}

.social-media {
    margin-top: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.social-media h1 {
    text-align: center;
}

.discord {
    margin-top: 20px;
    position: absolute;
    left: -365px;
    height: 50px;
    width: 600px;

    background: linear-gradient(
        135deg,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0) 25%,
        rgb(115, 138, 219) 25%,
        rgb(115, 138, 219) 50%,
        rgba(115, 138, 219) 75%,
        rgba(0, 0, 0, 0) 75%);
}

.discord h4 {
    position: absolute;
    margin-top: -28px;
    margin-left: 165px;
    font-size: 14pt;
    text-decoration: none;
}

.discord a {
    display: block;
    position: absolute;
    height: 50px;
    width: 375px;
    top: 0;
    left: 113px;
}

.fa-discord {
    color: #dddddd;
    margin-top: 10px;
    margin-left: 390px;
}

.discord:hover {
    opacity: 0.8;
}

.youtube {
    margin-top: 20px;
    position: absolute;
    left: -35px;
    height: 50px;
    width: 600px;

    background: linear-gradient(
        135deg,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0) 25%,
        rgb(255, 0, 0) 25%,
        rgb(255, 0, 0) 50%,
        rgb(255, 0, 0) 75%,
        rgba(0, 0, 0, 0) 75%);
}

.youtube h4 {
    position: absolute;
    margin-top: 15px;
    margin-left: 165px;
    font-size: 14pt;
}

.youtube a {
    display: block;
    position: absolute;
    height: 50px;
    width: 375px;
    top: 0;
    left: 113px;
}

.fa-youtube {
    color: #dddddd;
    margin-top: 10px;
    margin-left: 275px;
}

.youtube:hover {
    opacity: 0.8;
}

.twitter {
    visibility: hidden;
}

.fa-twitter {
    color: rgb(29, 161, 242);
}

.fa-twitter:hover {
    opacity: 0.8;
}

.instagram {
    visibility: hidden;
}

.fa-instagram {
    color: transparent;
    background: radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );
    background: -webkit-radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );
    background-clip: text;
    -webkit-background-clip: text;

    margin-right: -40px;
}

.fa-instagram:hover {
    opacity: 0.8;
}

@media only screen and (max-width: 910px) {
    .to-top {
        bottom: 150px;
    }
}

@media only screen and (max-width: 820px) {
    footer {
        height: 310px !important;
    }

    .discord {
        left: -200px;
    }

    .youtube {
        left: -200px;
        top: 100px;
    }
}

@media only screen and (max-width: 498px) {
    footer {
        height: 350px !important;
    }

    .youtube {
        top: 140px;
    }
}

@media only screen and (max-width: 420px) {
    .discord {
        left: -160px;
        width: 500px;
    }

    .discord h4 {
        left: -30px;
    }

    .fa-discord {
        margin-left: 330px;
    }

    .youtube {
        left: -160px;
        width: 500px;
    }

    .youtube h4 {
        left: -35px;
    }

    .fa-youtube {
        margin-left: 333px;
    }
}

@media only screen and (max-width: 560px) {
    .to-top {
        bottom: 200px;
    }
}

@media only screen and (max-width: 1200px) {
    .footer-title {
        margin-top: 15px !important;
        width: 100% !important;
        margin: 15px 0 0 0 !important;
    }

    footer {
        height: 260px;
    }

    .social-media {
        margin-top: 90px;
    }
}

.footer-title {
    float: left;
    height: 60px;
    width: 250px;
    text-align: center;
    margin-top: 35px;
    margin-left: 20px;
}

.footer-title a {
    text-decoration: none;
    color: rgb(0, 123, 255);
}

.footer-title a:hover {
    color: rgba(0, 123, 255, 0.8);
    text-decoration: underline;
}