* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    width: 100%;
    background-color: #dddddd;
}

header {
    height: 50px;
    width: 100%;
    background-color: rgb(59, 59, 59);
}

header nav {
    height: 50px;
    top: 0;
}

#network-title {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: large;
    text-transform: uppercase;
    line-height: 50px;
    margin-left: 40px;
    padding: 0 20px 0 120px;
    color: #dddddd;
    height: 50px;
    width: 220px;
}

#network-title img {
    position: absolute;
    top: 2.5px;
    left: 60px;
    height: 42px;
    width: 42px;
}

#network-title a {
    text-decoration: none;
    color: #dddddd;
}

.main-nav {
    text-align: center;
}

header nav {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

header nav li {
    display: inline-block;
    list-style: none;
    line-height: 50px;
    height: 50px;
    width: 260px;
    padding: 0 -20px 0 -20px;
    margin-right: -3%;

    background: linear-gradient(
        135deg,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0) 25%,
        rgba(150, 57, 57, 0.6) 25%,
        rgba(150, 57, 57, 0.6) 50%,
        rgba(150, 57, 57, 0.6) 75%,
        rgba(0, 0, 0, 0) 75%);
}

.main-nav li a {
    height: 50px;
    width: 100px;
    text-decoration: none;
    color: #dddddd;
}

.main-nav li:hover {
    opacity: 0.8;
    animation: hover_effect 300ms forwards;
    
    background: linear-gradient(
        135deg,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0) 25%,
        rgba(150, 57, 57, 0.5) 25%,
        rgba(150, 57, 57, 0.5) 50%,
        rgba(150, 57, 57, 0.5) 75%,
        rgba(0, 0, 0, 0) 75%);
}

@keyframes hover_effect {
    0% {
        margin-left: 0px;
        margin-right: -3%;
    }

    100% {
        margin-left: -2%;
        margin-right: -5%;
    }
}

.main-nav {
    text-transform: uppercase;
    font-weight: bold;
}

.placeholder-line-up {
    height: 10px;
    width: 100%;

    background: 
        linear-gradient(
            45deg,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0) 25%,
            rgba(0, 0, 0, 0) 25%,
            rgba(150, 57, 57, 0.5) 50%,
            rgba(150, 57, 57, 0.5) 75%,
            rgba(0, 0, 0, 0) 75%),
        
        linear-gradient(
            -45deg, 
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0) 25%,
            rgba(0, 0, 0, 0) 25%,
            rgba(150, 57, 57, 0.5) 50%,
            rgba(150, 57, 57, 0.5) 75%,
            rgba(0, 0, 0, 0) 75%);
}

.placeholder-line-down {
    height: 10px;
    width: 100%;

    background: 
        linear-gradient(
            45deg,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0) 25%,
            rgba(150, 57, 57, 0.5) 25%,
            rgba(150, 57, 57, 0.5) 50%,
            rgba(0, 0, 0, 0) 75%,
            rgba(0, 0, 0, 0) 75%),
        
        linear-gradient(
            -45deg, 
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0) 25%,
            rgba(150, 57, 57, 0.5) 25%,
            rgba(150, 57, 57, 0.5) 50%,
            rgba(0, 0, 0, 0) 75%,
            rgba(0, 0, 0, 0) 75%);
}

.container {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#welcome-content {
    margin: 180px 0px 10px 0px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: x-large;
    width: 100%;
}

#welcome-content img {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: -1;
    height: 300px;
}

#short-info-content {
    height: 250px;
}

#short-info-content div {
    position: absolute;
    right: 0;
    margin-top: 70px;
    margin-right: 340px;
}

#short-info-content div img {
    position: absolute;
    margin-top: -50px;
    left: -23%;
    height: 212px;
    width: 212px;
    z-index: -1;
}

@media only screen and (max-width: 1500px) {
    #short-info-content div img {
        left: 100%;
    }
}

@media only screen and (max-width: 970px) {
    #short-info-content div img {
        visibility: hidden;
    }

    #short-info-content div {
        text-align: center;
        margin-top: 60px;
        margin-right: 0;
    }
}

#short-info-content h1 {
    padding-left: 30px;
    padding-right: 30px;
}

#short-info-content p {
    font-size: 13pt;
    padding-left: 30px;
    padding-right: 30px;
}

#info-content {
    height: 296px;
    color: #dddddd;
}

#info-content div {
    padding-top: 95px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

#info-content p {
    margin-top: 10px;
    font-size: 13pt;
}

#info-content img {
    position: absolute;
    z-index: -1;
    height: 32%;
}

#news-content {
    height: 740px;
}

#news-content h1 {
    text-align: center;
    margin-top: 20px;
    font-size: xx-large;
    font-weight: bold;
}

#news-content div {
    float: right;
    margin-top: 140px;
    margin-right: 240px;
}

#news-content img {
    position: absolute;
    margin-top: 60px;
    left: 25%;
    z-index: -1;
    height: 660px;
    width: 816px;
}

@media only screen and (max-width: 1550px) {
    #news-content div {
        float: left;
        margin-top: 100px;
        margin-left: 240px;
    }
}

@media only screen and (max-width: 1120px) {
    #news-content img {
        margin-left: -100px;
    }
}

@media only screen and (max-width: 1100px) {
    #news-content div {
        float: left;
        margin-top: 100px;
        margin-left: 200px;
    }
}

@media only screen and (max-width: 990px) {
    #news-content img {
        margin-left: -150px;
    }

    #news-content div {
        float: left;
        margin-top: 100px;
        margin-left: 150px;
    }
}

@media only screen and (max-width: 920px) {
    #news-content img {
        margin-left: -200px;
    }

    #news-content div {
        float: left;
        margin-top: 100px;
        margin-left: 100px;
    }
}

@media only screen and (max-width: 850px) {
    #news-content img {
        visibility: hidden;
    }

    #news-content div {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        text-align: center;
        margin: 50px 0 0 0;
    }

    #news-content {
        height: 300px;
    }
}

#features-content {
    text-align: center;
    height: 350px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);

    background: 
        linear-gradient(
            90deg,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0) 15%,
            rgb(190, 190, 190) 25%,
            rgb(190, 190, 190) 50%,
            rgb(190, 190, 190) 50%,
            rgba(0, 0, 0, 0) 25%),
        
        linear-gradient(
            -90deg,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0) 15%,
            rgb(190, 190, 190) 25%,
            rgb(190, 190, 190) 50%,
            rgb(190, 190, 190) 50%,
            rgba(0, 0, 0, 0) 25%);
}

#features-content h1 {
    padding-top: 20px;
    font-size: xx-large;
    font-weight: bold;
    position: relative;
    top: 0%;
}

@media only screen and (max-width: 1214px) {
    .icon-list-1 {
        visibility: hidden;
    }

    .icon-list-2 {
        visibility: hidden;
    }

    .icon-list-3 {
        visibility: visible !important;
        margin-top: -90px;
    }

    .third-icon {
        position: relative;
        top: 20px;
    }

    .fourth-icon {
        position: relative;
        top: 20px;
    }

    .icon-list-0 {
        visibility: hidden !important;
    }

    .icon-list-0-1 {
        visibility: visible !important;
    }
}

@media only screen and (max-width: 814px) {
    #features-content {
        height: 610px;
    }

    .first-icon {
        position: relative;
        top: 20px;
    }

    .second-icon {
        position: relative;
        top: 40px;
    }

    .third-icon {
        position: relative;
        top: 60px;
    }

    .fourth-icon {
        position: relative;
        top: 80px;
    }

    .icon-block i {
        position: relative;
        margin-top: 20px;
    }
    
    .icon-block h3 {
        position: relative;
        margin-top: -10px;
    }

    .icon-list-0-1 {
        visibility: hidden !important;
    }

    .icon-list-0-2 {
        visibility: visible !important;
    }
}

.icon-list-0 {
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    grid-template-rows: 100px;
    position: relative;
    top: 25%;
    left: 18%;
    transform: translate(0, -82%);
    text-align: center;
}

.icon-list-0-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    grid-template-rows: 100px;
    position: absolute;
    top: 20%;
    left: 36%;
    transform: translate(0, -64%);
    text-align: center;
    visibility: hidden;
}

.icon-list-0-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    grid-template-rows: 100px;
    position: absolute;
    top: 15%;
    left: 18.5%;
    transform: translate(0, -64%);
    text-align: center;
    visibility: hidden;
}

.icon-list-1 {
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    grid-template-rows: 100px;
    position: relative;
    top: 25%;
    left: 18%;
    transform: translate(0, -82%);
    text-align: center;
}

.icon-list-2 {
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    grid-template-rows: 100px;
    position: relative;
    top: 20%;
    left: 18%;
    transform: translate(0, -82%);
    text-align: center;
}

.icon-list-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    grid-template-rows: 100px;
    position: relative;
    top: -35%;
    left: 18%;
    transform: translate(0, -82%);
    text-align: center;
    visibility: hidden;
}

.icon-block i {
    font-size: 36pt;
}

.icon-block h3 {
    padding-top: 20px;
    text-align: center;
    font-size: 14pt;
}

#support-content {
    height: 320px;
    text-align: center;
}

#support-content h1 {
    margin-top: 20px;
    font-size: xx-large;
    font-weight: bold;
}

#support-content div {
    font-size: 12pt;
}

#support-content i {
    margin-top: 50px;
    font-size: 48pt;
}

#support-content p {
    margin-top: 20px;
}

.connect-btn a {
	background: rgb(150, 192, 0);
	border-radius:3px;
	display:inline-block;
	color: #dddddd;
	padding: 9px 23px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #263666;
}

.connect-btn a:hover {
    opacity: 0.8;
}
.connect-btn a:active {
	position:relative;
	top:1px;
}

.to-top {
    position: absolute;
    right: 30px;
    bottom: 60px;
    height: 50px;
    width: 50px;
    border-radius: 8px;
    background-color: rgb(37, 41, 46);
}

.to-top a {
    font-size: 28pt;
    color: #687077;
}

.to-top span {
    padding: 8px 8px 8px 9px;
}

footer {
    height: 250px;
    width: 100%;
    position: relative;
    background-color: #343a40;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: 300;
    line-height: 1.2;
    color: #dddddd;
}

.sub-footer {
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-top: 7px;
    text-align: center;
    color: #dddddd;
    background-color: rgb(37, 41, 46);
}

.sub-footer a {
    color: rgb(0, 123, 255);
    text-decoration: none;
}

.sub-footer a:hover {
    text-decoration: underline;
    color: rgba(0, 123, 255, 0.8);
}

.icon {
    font-size: 32px;
}

.social-media {
    margin-top: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.social-media h1 {
    text-align: center;
}

.social-media > div {
    display: inline-block;
    margin-top: 20px;
    margin-right: 40px;
}

.discord {
    position: absolute;
    left: -365px;
    height: 50px;
    width: 600px;

    background: linear-gradient(
        135deg,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0) 25%,
        rgb(115, 138, 219) 25%,
        rgb(115, 138, 219) 50%,
        rgba(115, 138, 219) 75%,
        rgba(0, 0, 0, 0) 75%);
}

.discord h4 {
    position: absolute;
    margin-top: -30px;
    margin-left: 165px;
    font-size: 14pt;
    text-decoration: none;
}

.discord a {
    height: 50px;
    width: 300px;
    color: #ff0000;
}

.discord-link {
    position: absolute;
    height: 50px;
    width: 375px;
    left: -225px;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
    font-size: 36pt;
    bottom: -10px;
}

.discord-link a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0);
}

.fa-discord {
    color: #dddddd;
    margin-top: 10px;
    margin-left: 390px;
}

.fa-discord:hover {
    opacity: 0.8;
}

.youtube {
    position: absolute;
    left: -35px;
    height: 50px;
    width: 600px;

    background: linear-gradient(
        135deg,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0) 25%,
        rgb(255, 0, 0) 25%,
        rgb(255, 0, 0) 50%,
        rgb(255, 0, 0) 75%,
        rgba(0, 0, 0, 0) 75%);
}

.youtube h4 {
    position: absolute;
    margin-top: -28px;
    margin-left: 165px;
    font-size: 14pt;
}

.youtube-link {
    position: absolute;
    height: 50px;
    width: 375px;
    left: 105px;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
    font-size: 36pt;
    bottom: -10px;
}

.youtube-link a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0);
}

.fa-youtube {
    color: #dddddd;
    margin-top: 10px;
    margin-left: 390px;
}

.fa-youtube:hover {
    opacity: 0.8;
}

.twitter {
    visibility: hidden;
}

.fa-twitter {
    color: rgb(29, 161, 242);
}

.fa-twitter:hover {
    opacity: 0.8;
}

.instagram {
    visibility: hidden;
}

.fa-instagram {
    color: transparent;
    background: radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );
    background: -webkit-radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );
    background-clip: text;
    -webkit-background-clip: text;

    margin-right: -40px;
}

.fa-instagram:hover {
    opacity: 0.8;
}

.footer-title h1 {
    float: left;
    margin-top: 50px;
    position: absolute;
    left: 14.3%;
    transform: translate(-85%);
}

.footer-title p {
    margin-top: 90px;
    position: absolute;
    left: 15.1%;
    transform: translate(-84.9%);
}

.footer-title a {
    text-decoration: none;
    color: rgb(0, 123, 255);
}

.footer-title a:hover {
    color: rgba(0, 123, 255, 0.8);
    text-decoration: underline;
}