* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    width: 100%;
    background-color: #dddddd;
}

header {
    height: 50px;
    width: 100%;
    background-color: rgb(59, 59, 59);
}

header nav {
    height: 50px;
    top: 0;
}

#network-title {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: large;
    text-transform: uppercase;
    line-height: 50px;
    margin-left: 40px;
    padding: 0 20px 0 20px;
    color: #dddddd;
    height: 50px;
    width: 220px;
}

#network-title a {
    text-decoration: none;
    color: #dddddd;
}

.main-nav {
    text-align: center;
}

header nav {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

header nav li {
    display: inline-block;
    list-style: none;
    line-height: 50px;
    height: 50px;
    width: 260px;
    padding: 0 -20px 0 -20px;
    margin-right: -3%;

    background: linear-gradient(
        135deg,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0) 25%,
        rgba(150, 57, 57, 0.6) 25%,
        rgba(150, 57, 57, 0.6) 50%,
        rgba(150, 57, 57, 0.6) 75%,
        rgba(0, 0, 0, 0) 75%);
}

.first-list-item {
    margin-left: 180px;
}

.main-nav li a {
    height: 50px;
    width: 100px;
    text-decoration: none;
    color: #dddddd;
}

.main-nav li:hover {
    opacity: 0.8;
    animation: hover_effect 300ms forwards;
    
    background: linear-gradient(
        135deg,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0) 25%,
        rgba(150, 57, 57, 0.5) 25%,
        rgba(150, 57, 57, 0.5) 50%,
        rgba(150, 57, 57, 0.5) 75%,
        rgba(0, 0, 0, 0) 75%);
}

@keyframes hover_effect {
    0% {
        margin-left: 0px;
        margin-right: 0px;
    }

    100% {
        margin-left: -2%;
        margin-right: -5%;
    }
}

.main-nav {
    text-transform: uppercase;
    font-weight: bold;
    background: linear-gradient(135deg, rgba(44, 41, 41, 0.6) 0%, rgba(251, 255, 0, 0.6) 80%, rgba(251, 255, 0, 0.6) 100%);
}

.placeholder-line {
    height: 5px;
    width: 100%;
    background: url("./assets/img/placeholder-texture.png");
}

.container {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#welcome-content {
    margin: 180px 0px 10px 0px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: x-large;
    width: 100%;
}

#welcome-content img {
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: -1;
    height: 300px;
    width: 1524px;
}

#short-info-content {
    height: 250px;
}

#short-info-content div {
    position: absolute;
    right: 0;
    margin-top: 70px;
    margin-right: 340px;
}

#short-info-content img {
    margin-top: 20px;
    position: absolute;
    height: 212px;
    width: 212px;
    left: 25%;
}

#short-info-content p {
    font-size: 13pt;
}

#info-content {
    height: 300px;
    color: #dddddd;
}

#info-content div {
    padding-top: 95px;
    text-align: center;
}

#info-content p {
    margin-top: 10px;
    font-size: 13pt;
}

#info-content img {
    position: absolute;
    z-index: -1;
    height: 32%;
    width: 100%;
}

#news-content {
    height: 740px;
}

#news-content h1 {
    text-align: center;
    margin-top: 20px;
    font-size: xx-large;
    font-weight: bold;
}

#news-content div {
    float: right;
    margin-top: 140px;
    margin-right: 240px;
}

#news-content img {
    position: absolute;
    margin-top: 60px;
    left: 25%;
    z-index: -1;
}

#features-content {
    text-align: center;
    height: 340px;
}

#features-content h1 {
    margin-top: 20px;
    font-size: xx-large;
    font-weight: bold;
}

.icon-list-1 {
    margin-top: 20px;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 100px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

.icon-list-2 {
    margin-top: 160px;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 100px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

.icon-block i {
    font-size: 36pt;
}

.icon-block h3 {
    padding-top: 20px;
    text-align: center;
    font-size: 14pt;
}

#support-content {
    height: 340px;
    text-align: center;
}

#support-content h1 {
    margin-top: 20px;
    font-size: xx-large;
    font-weight: bold;
}

#support-content div {
    font-size: 12pt;
}

#support-content i {
    margin-top: 50px;
    font-size: 48pt;
}

#support-content p {
    margin-top: 20px;
}

.connect-btn {
    margin-top: 7px;
}

.connect-btn a {
    text-decoration: none;
    color: #dddddd;
    font-weight: bold;
    font-size: large;
    height: 30px;
    width: 100px;
    padding: 7px;
    background-color: rgba(37, 41, 46, 0.315);
    border-radius: 10px;
    border: 3px solid #687077;
}

.to-top {
    position: absolute;
    right: 30px;
    bottom: 60px;
    height: 50px;
    width: 50px;
    border-radius: 8px;
    background-color: rgb(37, 41, 46);
}

.to-top a {
    font-size: 28pt;
    color: #687077;
}

.to-top span {
    padding: 8px 8px 8px 9px;
}

footer {
    height: 200px;
    width: 100%;
    position: relative;
    background-color: #343a40;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: 300;
    line-height: 1.2;
    color: #dddddd;
}

.copyright {
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-top: 7px;
    text-align: center;
    color: #dddddd;
    background-color: rgb(37, 41, 46);
}

.copyright a {
    color: rgb(0, 123, 255);
    text-decoration: none;
}

.copyright a:hover {
    text-decoration: underline;
    color: rgba(0, 123, 255, 0.8);
}

.icon {
    font-size: 32px;
}

.social-media {
    margin-top: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.social-media h1 {
    text-align: center;
}

.social-media > div {
    display: inline-block;
    margin-top: 20px;
    margin-right: 40px;
}

.fa-discord {
    color: rgb(115, 138, 219);

    padding-left: 5px;
}

.fa-discord:hover {
    opacity: 0.8;
}

.fa-youtube {
    color: rgb(255, 0, 0);
}

.fa-youtube:hover {
    color: rgba(255, 0, 0, 0.8);
}

.fa-twitter {
    color: rgb(29, 161, 242);
}

.fa-twitter:hover {
    opacity: 0.8;
}

.fa-instagram {
    color: transparent;
    background: radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );
    background: -webkit-radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );
    background-clip: text;
    -webkit-background-clip: text;

    margin-right: -40px;
}

.fa-instagram:hover {
    opacity: 0.8;
}

.footer-title h1 {
    float: left;
    margin-top: 50px;
    position: absolute;
    left: 15%;
    transform: translate(-85%);
}